@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins";
  justify-content: center;
  align-items: center;
  background: #fffbf1;
}
.nav-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1.8fr;
}
.nav-container .col1 {
  position: relative;
  margin: 45px 150px;
  width: auto;
  height: 39px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #6c8054;
}
.nav-container .col2 {
  position: relative;
  margin: 54px 0 54px -40px;
  width: 100%;
  height: 30px;
}
.nav-container .col3 {
  position: relative;
  margin: 42px auto;
  cursor: pointer;
}
.col3 input.login {
  box-sizing: border-box;
  width: 113px;
  height: 42px;
  border: 1px solid #dc9c74;
  border-radius: 20px;
  margin-right: 18px;
  cursor: pointer;
  background: #fffbf1;
}
.col3 input.login:hover{
  color: white;
  transition: .5s;
  background:#dc9c74 ;
  font-weight: bold;
}
.col3 input.register {
  width: 113px;
  height: 42px;
  background: #dc9c74;
  border: 1px solid #dc9c74;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}
.col3 input.register:hover{
  color: black;
  background: #fffbf1;
  transition: .5s;
  font-weight: bold;
}
nav.col2 ul li {
  list-style: none;
  display: inline;
  margin-right: 40px;
}
nav.col2 ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  align-items: center;
  color: #dc9c74;
}
nav.col2 ul li a:hover{
  font-weight: bold;
  color: #6F4E37;
  transition: .5s;
}

.tagline {
  font-family: "Poppins";
  position: absolute;
  width: 687px;
  height: 200px;
  top: 232px;
  left: 365px;
}
.tagline p.text1 {
  width: 687px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;

  color: #222222;
}
.tagline p.text2 {
  position: absolute;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #222222;
  margin-left: 80px;
}
.tagline input {
  position: absolute;
  width: 175px;
  height: 57.03px;
  margin-top: 47px;
  background: #dc9c74;
  border: 1px solid #dc9c74;
  border-radius: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #fffbf1;
  margin-left: 240px;
}
.tagline input:hover{
  color: black;
  background:#fffbf1 ;
  transition: .5s;
  font-weight: bold;
}
.tagline img {
  margin: 100px 115px;
}
.long-div {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 850px;
}
.long-div .lside-div {
  position: relative;
  margin-left: 120px;
}
.lside-div p.t1 {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6c8054;
  width: 144px;
  height: 24px;
}
.lside-div p.t2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  width: 154px;
  height: 48px;
  color: #222222;
}
.lside-div p.t3 {
  width: 307px;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #222222;
}
.lside-div p.t4 {
  width: 309px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #222222;
}
.lside-div p.t5 {
  width: 450px;
  height: 38px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6f4e37;
}
.note2 {
  margin-top: 56px;
}
.note2 img {
  width: 444px;
  height: 407px;
}
.enthusiasm-quote {
  margin-top: 136px;
  width: 505px;
  height: 224px;
}
.enthusiasm-quote p.enthusiasm {
  width: 107px;
  height: 24px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6c8054;
}
.enthusiasm-quote p.quote {
  width: 601px;
  height: 144px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #222222;
}
.enthusiasm-quote p.means {
  width: 505px;
  height: 38px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6f4e37;
}
.long-div .rside-div {
  position: relative;
  margin-left: 150px;
}
.note1 img {
  width: 444px;
  height: 407px;
  margin-top: -100px;
}
.lucidity {
  width: 408px;
  margin-top: 97px;
}
.lucidity p.lucid {
  width: 71px;
  height: 24px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #6c8054;
}
.lucidity p.lucid-quote {
  width: 480px;
  height: 96px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #222222;
  margin-top: 10px;
}
.lucidity p.means {
  width: 470px;
  height: 45px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6f4e37;
  margin-top: 10px;
}
.enthusiastic-pic {
  margin-top: 120px;
}
.enthusiastic-pic img {
  width: 407px;
  height: 407px;
}
.footer-div {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-top: 2150px;
  position: absolute;
  width: 100%;
  background: #dc9c74;
}
.footer-div .team-quote {
  width: 100%;
  background: #fffbf1;
  transform: skew(0deg, -10deg) translateY(-140px);
  height: 60vh;
}
.team-quote p {
  transform: skew(0deg, 10deg);
  margin-left: 30%;
}

.team-quote p.quote {
  width: 640px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #222222;
  margin-top: 140px;
}
.team-quote p.team {
  width: 140px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-left: 45%;
}

.footer-div .bg-slant {
  width: 100%;
  background: #dc9c74;
}

.bg-slant .footer-container {
  position: relative;
  width: 100%;
  background: #dc9c74;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.lfooter img {
  border-radius: 40%;
  width: 673px;
  height: 632px;
  padding: 120px;
  margin-top: -100px;
}
.rfooter {
  width: 100%;
  height: auto;
  padding-top: 30px;
}
.rfooter p {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #fffbf1;
  margin-left: 50px;
}
.rfooter h2 {
  color: #6c8054;
  font-size: -webkit-xxx-large;
  font-weight: bolder;
  font-family: "Poppins";
  text-shadow: 5px 0px 1px;
  letter-spacing: 3px;
  padding-top: 8px;
  margin-left: 50px;
}
.rfooter input[type="button"] {
  margin-top: 20px;
  width: 145px;
  height: 57.03px;
  background: #fffbf1;
  border-radius: 20px;
  border: 1px solid #fffbf1;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  color: #dc9c74;
  cursor: pointer;
  margin-left: 50px;
}
.rfooter input:hover{
  color: white;
  background: #dc9c74;
  transition: .5s;
}
.footer-final {
  text-align: center;
  margin-top: auto;
  display: flex;
  margin-bottom: 30px;
}
.footer-final p,
img {
  padding: 5px;
}
.footer-final p {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #6c8054;
}
.footer-final a {
  text-decoration: none;
  color: #6c8054;
}
.footer-final a:hover{
  color: #fffbf1;
  transition: .5s;
}