body{
    background: #DC9C74

}
.reglogo {
    position: absolute;
    width: 460px;
    height: 384px;
    left: 64px;
    top: 83px;
    
}

.text{
    position: absolute;
width: 410px;
height: 116px;
left: 167px;
top: 6px;

font-family: 'Fredoka One';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 116px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
margin-top:0px;


color: #6C8054;
}

.text2{
    position: absolute;
    width: 367px;
    height: 25px;
    left: 245px;
    top: 81px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    
    color: #6F4E37;

}

.qoute1{
    position: absolute;
    width: 623px;
    height: 60px;
    top: 428px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 5%;

    color: #6F4E37;

}
.qoute2{
    position: absolute;
    width: 193px;
    height: 29px;
    left: 328px;
    top: 475px;
    
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #6C8054;
    
}

.register-form{
    box-sizing: border-box;

position: absolute;
width: 370px;
height: 543px;
left: 557px;
top: 25px;

background: #EBC6A9;
border: 1px solid #6C8054;
border-radius: 25px;
}

.here{
    position: absolute;
 left: 91px;
    height: 52.37px;
   
    

    font-family: 'Fredoka One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 48px;
display: flex;
align-items: center;
letter-spacing: 0.1em;
color: #6C8054;
}

.username{
    box-sizing: border-box;

position: absolute;
width: 320px;
height: 33px;
left: 24px;
top: 93.39px;

background: #D0F3A5;
border: 1px solid #6C8054;
border-radius: 20px;
}

.firstname{
    box-sizing: border-box;

position: absolute;
width: 320px;
height: 33px;
left: 24px;
top: 139.39px;

background: #D0F3A5;
border: 1px solid #6C8054;
border-radius: 20px;
}

.lastname{
    box-sizing: border-box;

position: absolute;
width: 320px;
height: 33px;
left: 24px;
top: 185.39px;

background: #D0F3A5;
border: 1px solid #6C8054;
border-radius: 20px;
}

.birthday{
    box-sizing: border-box;

position: absolute;
width: 320px;
height: 33px;
left: 24px;
top: 231.39px;

background: #D0F3A5;
border: 1px solid #6C8054;
border-radius: 20px;
}
